<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Choose GUI -->
  <arg name="use_rviz" default="true" />
  <arg name="jsp_gui" default="true" />


  <!-- Publish joint_states to /tf tree, provides rviz with transformation data -->
  <!-- This package reads the robot_description parameter, finds all of the non-fixed joints -->
  <!-- and publishes a JointState message with values (zero) for all joint positions -->
  <!-- joint states represent the current state of the robot, it is not a command and not a goal -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <!-- control joints in Rviz ia GUI (for debugging) -->
    <param name="use_gui" value="$(arg jsp_gui)" /> 
  </node>


  <!-- Publish tf transforms from joint states or rviz, etc -->
  <!-- Send robot states to tf based on URDF specified by the parameter robot_description -->
  <!-- and the joint positions from the topic > joint_states  -->
  <!-- This node publishes a single message with the state of all joints of the robot combined-->
  <!-- This allows you to see your simulated robot in Rviz as well as do other tasks -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

    <!-- Run Rviz   -->
    <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find deflector_robot)/config/deflector_rviz.rviz"/>

</launch>
