<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- send urdf to param server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find deflector_robot)/urdf/deflector.xacro'" />


    <!--spawn robot in gazebo world-->
	<arg name= "pos_x" default = "0.7"/>
	<arg name= "pos_y" default = "0"/>
	<arg name= "pos_z" default = "0.005"/>
	<arg name= "yaw" default = "-1.571"/> <!-- rad -->

	<arg name= "robot_name" default= "deflector_robot"/>
	<node name="urdf_robot_model_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description
	-urdf
	-x $(arg pos_x)
	-y $(arg pos_y)
	-z $(arg pos_z)
	-Y $(arg yaw)
	-model $(arg robot_name)"
	respawn="false" output="screen"/>

</launch>
