<?xml version="1.0" encoding="UTF-8"?>
<!-- Spawns SDF models -->

<launch>

  <!-- Call a python script to the run a service call to gazebo_ros to spawn a SDF model --> 
  <node name="sdf_spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find deflector_robot)/models/cuboid_table/model.sdf -sdf -model table -x 1.25 -y 0.119590 -z 0.0 " />

</launch>
