<?xml version="1.0"?>
<model>
  <name>Cuboid table</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Roberto Zegers R.</name>
  </author>

  <description>
    A wooden cuboid table with support legs, size: x: 0.688071 y: 3.203140 z: 0.905904 mt
  </description>
</model>
